.main {
  color: white;
  height: 12vh;
  width: 210%;
  border: 2px solid;
  border-color: white;
  border-radius: 10px;
  opacity: 0.8;
  margin-top: 5%;
  margin-bottom: 10%;
  background-image: url("../../assets/maintextbg.png");
  padding: 5%;
  margin-left: 15px;
}

.txt {
  margin-top: 4%;
  font-weight: bold;
  /* font-size: 14px; */
}
